<h1 class="container m-5">
    Hello, {{ customerName }}
</h1>

<div class="container" *ngIf="sweetItems?.length; else nodata">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let sweetItem of sweetItems; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{ sweetItem.name }}</td>
              <td>{{ sweetItem.quantity }}</td>
              <td>{{ sweetItem.price }}</td>
              <td>{{ sweetItem.description }}</td>
              <td><button class="btn btn-danger" (click)="onDelete(cart.cartItems[i].cartItemId, i)">Delete</button></td>
          </tr>
      </tbody>
    </table>
</div>
  
<!-- no data  -->
<ng-template #nodata>
    <h1 class="mx-auto" style="width: 300px;">No Records Found!</h1>
  </ng-template>
  